@use '@/styles/abstracts' as *;

/* Variants */
.primary {
  background: $color-secondary;
  color: $color-white;

  &:hover {
    background: $color-text-muted;
  }
}

.expand {
  @include action-button(30px, 50%);
  border: $border-xs;
  background: $color-bg-light;
  color: $color-text;

  &:hover {
    background: $color-svg;
    color: $color-primary;
  }
}

.secondary {
  background: $color-border-light;
  color: $color-text-main;

  &:hover {
    background: $color-text-muted;
  }
}

.danger {
  background: $color-danger;
  color: $color-white;

  &:hover {
    background: $color-urgent;
  }
}

.icon {
  display: flex;
  align-items: center;
}

.loader {
  width: $spacing-md;
  height: $spacing-md;
  border: 2px solid $color-white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.iconOnly {
  @include action-button(30px, 50%);
  border: $border-xs;
  background: $color-bg-light;
  color: $color-text;

  &:hover {
    background: $color-svg;
    color: $color-primary;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
